.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
    width: 480px;
    height: 480px;
}

.square {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 45px;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.selected {
    box-shadow: inset 0 0 0 3px rgba(255, 255, 0, 0.8);
    transition: box-shadow 0.2s ease-in-out;
    z-index: 2;
}

.move {
    box-shadow: inset 0 0 0 4px rgba(56, 255, 106, 0.6);
    transition: box-shadow 0.2s ease-in-out;
    z-index: 1;
}

.capture {
    box-shadow: inset 0 0 0 4px rgb(255, 100, 100);
    transition: box-shadow 0.2s ease-in-out;
    z-index: 1;
}

.square span {
    display: block;
    text-align: center;
    line-height: 60px;
}