body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
}

.title {
    text-align: center;
    margin-top: 32px;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 24px;
}